html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    background: #F3F5FC;
    height: 667px;
    width: 375px;
}
header {
    height: 90px;
    width: 90%;
}
#logo {
    position: relative;
    top: 21px;
    left: 16px;
}
.textArea {
    position: relative;
    top: 50px;
    left: 10px;

    width: 343px;
    height: 100px;

	resize: none;
	outline: none;
    border: none;

    background: transparent;

    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.textArea::placeholder {
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}
.notice {
    display: flex;
    flex-direction: row;
    gap: 5px;

    position: absolute;
    top: 245px;
    left: 16px;
}
.notice > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;

    color: #495057;
}
.container {
    position: absolute;
    top: 300px;
    left: 20px;

    display: block;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}
#btn-save {
    width: 330px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;
    border: none;

    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
#btn-save:hover{
    background: #0b4386;
    cursor: pointer;
}
#btn-cancel {
    margin-top: 17px;

    width: 330px;
    height: 67px;

    background: transparent;
    border-radius: 24px;

    border: 1px solid #0A3871;

    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
#btn-cancel:hover{
    background: #e1e7fc;
    cursor: pointer;
}
@media (min-width:768px) {
    #logo {
        left: 40px;
    }
    #textArea{
        position: absolute;
        top: 180px;
        left: 50px;
    }
    .container {
        top: 580px;
        left: 50px;
    }
    #btn-save {
        margin-right: 10px;
    }
}
@media (min-width:1440px) {
    #textArea{
        position: absolute;
        top: 180px;
        left: 390px;
    }
    .container {
        top: 580px;
        left: 390px;
    }
}
@media (min-width:1500px) {
    #textArea{
        position: absolute;
        top: 180px;
        left: 600px;
    }
    .container {
        top: 580px;
        left: 600px;
    }
}